<h3>Mot de passe oublié?</h3>
<div class="modal-body animated fadeInDown">
  <form class="form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <label>Password</label>
    <input type="password" formControlName="password" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
    <br>

    <div *ngIf="submitted && f.password.errors" class="alert alert-danger">
      <p *ngIf="f.password.errors.required && submitted && f.password.errors">Mot de passe requis</p>
      <p *ngIf="f.password.errors.minlength">8 charactères minimum pour le Mot de passe</p>
    </div>

    <label>Confirm Password</label>
    <input type="password" formControlName="password_confirmation" class="form-control"
      [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }" />
    <br>

    <div *ngIf="submitted && f.password_confirmation.errors" class="alert alert-danger">
      <p *ngIf="f.password_confirmation.errors.required">Confirmation du mot de passe requis</p>
      <p *ngIf="f.password_confirmation.errors.mustMatch">Les mots de passe requis doivent correspondre</p>
    </div>
    <!-- Error -->
    <div class="alert alert-danger" role="alert" *ngIf="errors != null">
      <p role="alert">
        Erreur lors de la mise à jour
      </p>
    </div>
    <div class="alert alert-success" role="alert" *ngIf="successMsg != null">
      <p role="alert">
        Mise à jour de votre mot de passe
      </p>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary block full-width m-b"><i class="fa fa-sign-in"></i>
        Valider</button>
      <p class="text-muted text-center"><small>Je me souviens de mon mot de passe ?</small>
        <br><a [routerLink]="['login']"><small>S' authentifier?</small></a>
      </p>
    </div>
  </form>
</div>
