<h3>Mot de passe oublié</h3>
<div>
  <form [formGroup]="resetForm" (ngSubmit)="requestForgotPassword()">
    <div class="form-group">
      <label>Email</label>
      <input pInputText type="email" formControlName="email" class="form-control"
        [ngClass]="{'ng-invalid ng-dirty': resetForm.controls.email.touched && resetForm.controls.email.errors}" />
      <p role="alert" *ngIf="resetForm.controls.email.touched && resetForm.controls.email.hasError('required')"
        class="p-error">
        L'email est requis
      </p>
      <p role="alert" *ngIf="resetForm.controls.email.touched && resetForm.controls.email.hasError('email')"
        class="p-error">
        Format d'email invalide
      </p>
    </div>

    <button type="submit" pButton icon="pi pi-check" label="Valider"></button>

    <div class="remember-password">
      <p>Je me souviens de mon mot de passe ?</p>
      <a [routerLink]="['/auth/login']">Se connecter</a>
    </div>
  </form>
</div>
